<section class="flex mx-5 mb-5 px-5">
  <div class="flex-1">
    <h1 class="text-2xl font-bold">Pipes Basicos</h1>
    <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
  </div>
</section>
<div class="divider w-full"></div>
<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <app-card title="i18nSelectPipe">
    <p>
      Saludos a {{ client().name }}, es un placer
      {{ client().gender | i18nSelect : invitationMap }} a nuestro evento
    </p>
    <button (click)="changeClient()" class="btn btn-accent">
      Cambiar Cliente
    </button>
  </app-card>

  <app-card title="i18nPluralPipe">
    <p>Actualmente {{ clients().length | i18nPlural : clientsMap() }}</p>
    <button
      [disabled]="clients().length === 0"
      (click)="deleteClient()"
      class="btn btn-accent"
    >
      Borrar Cliente
    </button>
  </app-card>
  <app-card title="SlicePipe">
    <b>Original</b>
    <p class="text-primary">
      {{ clients().join(", ") }}
    </p>
    <b class="mt-2">Slice:0:2</b>
    <p class="text-primary">
      {{ clients() | slice : 0 : 2 }}
    </p>
    <b class="mt-2">Slice:0:1</b>
    <p class="text-primary">
      {{ clients() | slice : 0 : 1 }}
    </p>
    <b class="mt-2">Slice:2:4</b>
    <p class="text-primary">
      {{ clients() | slice : 2 : 4 }}
    </p>
    <b class="mt-2">Slice:4:6</b>
    <p class="text-primary">
      {{ clients() | slice : 4 : 6 }}
    </p>
    <b class="mt-2">Slice:0:-3</b>
    <p class="text-primary break-words">
      {{ clients() | slice : 0 : -3 }}
    </p>
  </app-card>
  <app-card title="JsonPipe">
    <pre class="text-primary break-words">{{ clients() | json }}</pre>
    <pre class="text-primary break-words">{{ client() | json }}</pre>
    <p class="text-primary break-words">{{ clients().join(", ") | json }}</p>
  </app-card>
  <app-card title="KeyValuePipe">
    <pre class="text-primary break-words">{{ person() | keyvalue | json }}</pre>

    <ul>
      @for (item of person() | keyvalue; track $index) {

      <li>
        <b class="text-primary">{{ item.key | titlecase }}</b
        >: {{ item.value }}
      </li>
      }
    </ul>
  </app-card>
</section>
